@use '@angular/material' as mat;

@include mat.core();

$theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$violet-palette,
  ),
));

@include mat.all-component-themes($theme);

// Customize the entire app. Change :root to your selector if you want to scope the styles.
:root {
  @include mat.button-overrides((
    filled-container-shape: '6px',
    outlined-container-shape: '6px'
  ));
  @include mat.badge-overrides((
    background-color: #2196F3
  ));
}

.mat-badge-content {
  border-radius: 50% !important;
  min-width: 22px !important;
  height: 22px !important;
  line-height: 22px !important;
}

.match-input-height {
  height: var(--mat-form-field-container-height) !important;
}

.mdc-notched-outline__notch {
  border-right-style: none !important
}

.snack-error {
  @include mat.snack-bar-overrides((
    button-color: white,
    container-color: red,
    supporting-text-color: white
  ));
}

.snack-success {
  @include mat.snack-bar-overrides((
    button-color: white,
    container-color: green,
    supporting-text-color: white
  ));
}
